.AppAsideElementWrapper {
  width: 100%;
  margin-bottom: 10px;
  &__inside {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  &__label {
    color: #666;
    margin-left: 6px;
    margin-bottom: 2px;
    font-size: 15px;
    width: 100%;
  }
}
