.AppColorPalette {
  &__palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &__color {
      width: 35.5px;
      height: 35.5px;
      cursor: pointer;
      border: 1px solid #ddd;
      &--selected {
        border: 2px solid black;
        box-shadow: inset 0 0 0 2px white;
      }
    }
  }
}