@import './app-nav.scss';

.AppNavDropdown {
  @include nav-item;
  position: relative;
  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: fit-content;
    min-width: 100%;
    z-index: 10000;
    height: 0;
    overflow: hidden;
    &--open {
      height: auto;
      background-color: #fff;
      border: 1px solid #aaa;
    }
    &__item {
      padding: 5px;
      white-space: nowrap;
      cursor: pointer;
      transition-duration: 100ms;
      &:hover {
        background-color: #eee;
      }
    }
  }
}