.Overlay {
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  &__nav, &__aside {
    filter: drop-shadow(0 0 0.25rem gray);
    pointer-events: all;
  }
  &__nav {
    background-color: darkgray;
  }
  &__aside {
    background-color: lightgray;
  }
}